<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not accounts for verification</title>
</head>
<body>
    <body>
    <h2 class="test-h2-class"></h2>
    <div class="job-template individual-template">
        <h3>All accounts are verified! No new accounts to verify!</h3>
    </div>
    <script src="/js/dashboard.js"></script>
</body>
</body>
</html>