<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Job Creation</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="background-image">
    <div class="edit-log-wrapper">
        <form method="POST" action="/company/<%= dbUser.id %>/createJob">
            <div class="edit-div">
                <h2>Create Job Circulation</h2>
                <% if (typeof error !== 'undefined') { %>
                <p style="color:red;"><%= error %></p>
                <% } %>
                <label for="title" class="edit-div-label">Job Title</label><br>
                <input type="text" id="title" name="title" placeholder="Enter Your Job Title" class="edit-div-inp" required><br>
                <label for="reqCgpa" class="edit-div-label">CGPA Required</label><br>
                <input type="Number" id="reqCgpa" name="reqCgpa" placeholder="Enter Minium CGPA Required" class="edit-div-inp" step="0.01"><br>   
                <label for="salary" class="edit-div-label">Salary</label><br>
                <input type="Number" id="salary" name="salary" placeholder="Enter Salary/Month" class="edit-div-inp"><br>
                <label for="deadline" class="edit-div-label">Deadline</label><br>
                <input type="date" id="deadline" name="deadline" placeholder="Enter Last Date To Apply" class="edit-div-inp"><br>
                <label for="description" class="edit-div-label">Description</label><br>
                <textarea id="description" name="description" placeholder="Enter Job Description" class="edit-div-inp jobTextarea"></textarea><br>
                <label for="type" class="edit-div-label">Job Type</label><br>
                <select id="type" name="type">
                    <option value="">Select Job Type</option>
                    <option value="chemical"> Chemicals </option>
                    <option value="it"> IT </option>
                    <option value="consultancy"> Consultancy</option>
                    <option value="other"> Others </option>
                </select><br>
                <button type="submit" class="btn-class">Create Job</button>
                <h3>Don't Want To Create Job?</h3>
                <a href="http://localhost:3000/company/<%= dbUser.id %>"><button type="button" class="btn-class">Cancel Creation</button></a>
            </div>
        </form>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>