<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcom To Your Page</title>
</head>
<body>
    <h2>This is Dashboard of @<%= username %></h2>
    <p>This is company page</p>
</body>
</html>