<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AU Campus Placement</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="background-image">
    <nav class="navbar st-cl">
    <form class="container-fluid justify-content-end">
        <a href="http://localhost:3000/register"><button class="btn btn-outline-light me-2" type="button">Register</button></a>
        <a href="http://localhost:3000/login"><button class="btn btn-outline-light me-2" type="button">Login</button></a>
        <a href="http://localhost:3000/details"><button class="btn btn-outline-light me-2" type="button">Details</button></a>
        <a href="http://localhost:3000/services"><button class="btn btn-outline-light me-2" type="button">Services</button></a>
    </form>
    </nav>
    <img src="/images/cover.png" class="home-img">
    <!-- Div Handling -->
    <div class="outer">
        <!-- Inner Left Side Div -->
        <div class="inner" id="inner-left">
            <div class="inner-left">
                <h3 class="color-white"><b>Important Links<i>!</i></b></h3>
                <a href="https://www.education.gov.in/" class="inner-left-a"><b>Ministry of Education</b></a>
                <a href="https://www.andhrauniversity.edu.in/" class="inner-left-a"><b>Andhra University</b></a>
                <a href="https://employmentnews.gov.in/NewEmp/Home.aspx" class="inner-left-a"><b>Employment News</b></a>
                <a href="https://portal-psc.ap.gov.in/" class="inner-left-a"><b>AP Public Service</b></a>
                <!-- Repetition Twice -->
                <a href="https://www.education.gov.in/" class="inner-left-a"><b>Ministry of Education</b></a> 
                <a href="https://www.andhrauniversity.edu.in/" class="inner-left-a"><b>Andhra University</b></a>
                <a href="https://employmentnews.gov.in/NewEmp/Home.aspx" class="inner-left-a"><b>Employment News</b></a>
                <a href="https://portal-psc.ap.gov.in/" class="inner-left-a"><b>AP Public Service</b></a>
            </div>
            <div>
                <img src="/images/au_ingate.png" alt="Au Campus" class="inner-left-img">
            </div>
        </div>
        <!-- Inner Middle Div -->
        <div class="inner" id="inner-middle">
            <div class="inner-middle">
                <!-- All the following data are AI generated. Authenticity Unknown! -->
                <h2><b>AU Placements</b></h2><br>
                <p>Andhra University stands as a premier recruitment hub in South India, consistently bridging the gap between academic brilliance and industrial needs.</p>
                <h3>Highlights:</h3>
                <p>
                    The university has seen a significant upward trend in recruitment, with top-tier companies offering competitive packages across various disciplines.
                </p>
                <ul>
                    <li class="info-li"><h4>Engineering & Tech:</h4>Leading the charts with a median package of ₹7.58 LPA and a placement rate of nearly 90%.</li>
                    <li class="info-li"><h4>Management (MBA):</h4>Strong presence in finance and consulting with a median package of ₹6.70 LPA.</li>
                    <li class="info-li"><h4>Pharmacy & Sciences:</h4>Consistently high recruitment from global pharmaceutical giants with average packages starting at ₹4.50 LPA.</li>
                </ul>
            </div>
        </div>
        <!-- Inner Right Side Div -->
        <div class="inner" id="inner-right">
            <div class="inner-right">
                <h3 class="color-white"><b>Companies Appeard<i>!</i></b></h3>
                <a href="https://www.tcs.com/" class="inner-left-a"><b>TCS</b></a>
                <a href="https://www.infosys.com/" class="inner-left-a"><b>Infosys</b></a>
                <a href="https://www.wipro.com/" class="inner-left-a"><b>Wipro</b></a>
                <a href="https://www.accenture.com/in-en" class="inner-left-a"><b>Accenture</b></a>
                <a href="https://www.ibm.com/in-en" class="inner-left-a"><b>IBM</b></a> 
                <a href="https://careers.cognizant.com/india-en/" class="inner-left-a"><b>Cognizant</b></a>
                <a href="https://www.amazon.in/" class="inner-left-a"><b>Amazon</b></a>
                <a href="https://www.ril.com/" class="inner-left-a"><b>Reliance Industries</b></a>
            </div>
            <div>
                <img src="/images/company.png" alt="Au Campus" class="inner-right-img">
            </div>
        </div>
    </div>
    
</body>
</html>