<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>This is registration page</h2>
    <form method="post" action="http://localhost:3000/register">
        <div class="reg-div">
            <label for="name">Full Name</label><br>
            <input type="text" id="name" name="name" placeholder="Enter Your Full Name"><br>
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" placeholder="Enter Your Username"><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" placeholder="Enter Password"><br>
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" placeholder="Enter Your Email"><br>
            <button type="submit">Register</button>
        </div>
    </form>
</body>
</html>