<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="reg-log-wrapper">
        <form method="POST" action="http://localhost:3000/register">
            <div class="reg-div">
                <h2>Complete Your Registration</h2>
                <% if (typeof error !== 'undefined') { %>
                <p style="color:red;"><%= error %></p>
                <% } %>
                <label for="name" class="reg-div-label">Full Name</label><br>
                <input type="text" id="name" name="name" placeholder="Enter Your Full Name" class="reg-div-inp" required><br>
                <label for="password" class="reg-div-label">Password</label><br>
                <input type="password" id="password" name="password" placeholder="Enter Password" class="reg-div-inp" required><br>
                <label for="password" class="reg-div-label">Confirm Password</label>&nbsp;<small id="message" required></small><br>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Enter Password" class="reg-div-inp"required><br>
                <label for="email" class="reg-div-label">Email</label><br>
                <input type="email" id="email" name="email" placeholder="Enter Your Email" class="reg-div-inp" required><br>
                <label for="accType"><b>Account Type</b></label><br>
                <select id="accType" name="accType" required>
                    <option value="">Select Account Type</option>
                    <option value="admin"> Register as Admin</option>
                    <option value="student"> Register as Student</option>
                    <option value="company"> Register as Company</option>
                </select><br>
                <button type="submit" class="btn-class">Register</button>
                <h3>Already have an account?</h3>
                <a href="http://localhost:3000/login"><button type="button" class="btn-class">Login Here</button></a>
            </div>
        </form>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>