<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs Posted By You</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2 class="test-h2-class"></h2>
    <div class="job-template individual-template">
        <h3>You Did Not Applied For Any Job Yet!</h3>
    </div>
    <script src="/js/dashboard.js"></script>
</body>
</html>